{% extends 'mydream/base.html' %}
{% load static %}
{% block content %}

<center>

  {% for des in dest %}
  <div class="col-sm-4">
  
    <img src="{{des.img.url}}"     alt="Image" width="300" height="300" class="centerImage">
    <p align="center">
  <form action="https://www.miltek.co.in/"> 
    <button class="button" type="submit"> 
        Click Here 
    </button> 
</form> 
</p>
</div>
  {% endfor %}

</center>


{% endblock %}
                                                                        